<ion-header translucent>
  <ion-toolbar>
    <ion-title class='ion-text-center'>{{detailSong.Name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <ion-card>
        <img src="../../assets/image/dangtheluan.jpg" />
        <ion-card-header>
          <ion-card-subtitle>{{detailSong.Id}}</ion-card-subtitle>
          <ion-card-title>{{detailSong.Singer}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{detailSong.content}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide fullscreen>
      {{detailSong.content}}
    </ion-slide>

  </ion-slides>
</ion-content>